@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
}

<div class="container mt-5">
    <h1>Shopping Cart</h1>
    <div id="cartItems"></div>
</div>