@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Exterior";
}

<div class="container mt-5 text-light">
    <h1>Exterior Enhancements</h1>
    <p>
        Make a statement on the road with our range of exterior enhancements for your BMW. From aerodynamic spoilers to carbon fiber body kits, we have the upgrades you need.
    </p>
</div>
