<div style="margin-top: 80px;">
    @{
        ViewData["Title"] = "Home Page";
    }
    <body>
        <div class="text-center text-dark">
            <h1 class="display-1 fw-bold">Bimmer Racing</h1>
        </div>
        <!-- Carousel -->
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="@Url.Action("Performance", "Home")">
                        <img src="~/images/bmw performance.jpg" alt="Performance" class="d-block w-100">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="@Url.Action("Maintenance", "Home")">
                        <img src="~/images/bmw mainteinance.jpg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="@Url.Action("Interior", "Home")">
                        <img src="~/images/bmw interior.jpg" alt="Interior" class="d-block w-100">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="@Url.Action("Exterior", "Home")">
                        <img src="~/images/bmw exterior.jpg" alt="Exterior" class="d-block w-100">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="test text-light">
            <h1 class="display-3 fw-bold">Build Your Dream</h1>
            <h1 class="display-3 fw-bold">BMW</h1>
        </div>

        <style>
            .carousel-item img {
                width: 100%;
                height: 700px; /* Adjust this value to set the desired height */
                object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
            }
        </style>
    </body>
</div>
