@{
    ViewData["Title"] = "Home Page";
}


<body>

    <div class="text-center text-light">
        <h1 class="display-1 fw-bold">BR</h1>
</div>
    <div class="test text-light">
        <h1 class="display-3 fw-bold">Build Your Dream</h1>
        <h1 class="display-3 fw-bold">BMW</h1>
    </div>
</body>
