@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Interior";
}

<div class="container mt-5 text-light">
    <h1>Interior Accessories</h1>
    <p>
        Customize the interior of your BMW with our stylish and functional accessories. From floor mats to carbon fiber trim, we have the products to elevate your interior.
    </p>
</div>

