@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Maintenance";
}

<div class="container mt-5 text-light">
    <h1>Maintenance Products</h1>
    <p>
        Keep your BMW in top condition with our range of maintenance products. From oil filters to brake pads, we have the essentials for your routine maintenance needs.
    </p>
</div>
