@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Performance";

    <div class="container mt-5 text-light">
    <h1>Performance Parts</h1>
    <p>
        Enhance the performance of your BMW with our selection of high-quality performance parts. From exhaust systems to turbochargers, we have everything you need to boost your driving experience.
    </p>
</div>
}
